<label></label>
<!-- <input 
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> 
<input
  type="text" 
  class="form-control"
  [(ngModel)]="serverName">
<p>{{ serverName }}</p>-->

<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreationStatus()">Tampilkan Detail</button>
  <!-- <p>{{ serverCreationStatus }}</p>
<p *ngIf= "serverCreated; else noServer"> Server telah dibuat, nama server adalah {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>-->
<p *ngIf= "i % 2 !=0">INI KAMPUSKU</p>
<p *ngFor= "let i of log;"
  [ngStyle]="{'backgroundColor': i>=5 ? 'blue' : 'white'}"
>{{ i }}</p>
<!--app-server></app-server>-->
<app-server *ngFor= "let server of servers"></app-server>

<!--p>{{ UserCreationStatus}}</p>
<app-servers></app-servers>
<app-servers></app-servers>-->
